# Data Science Tools And Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

**Objectives** 
- Some of the popular languages that the Data Scientists use
- Some of the commonly used libraries used by Data Scientists
- Data Science Tools
- Examples of arithmetic expressions in Python

Some of the popular languages that the Data Scientists use are:

1. Python
2. R
3. JavaScript

Some of the commonly used libraries used by the Data Scientists includes:

1. Pandas
2. NumPy
3. Scikit-Learn
4. Keras

| Data Science Tools |
----------------------
| RStudio |
| Apache Spark |
| Apache Hadoop |

### Below are some examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to multiple then add integers

In [1]:
(3*4)+5

17

This will convert the 200 minutes into hours by dividing by 60

In [3]:
200/60

3.3333333333333335

## Author
Shishir